:root {
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
  }
  * {
    color: var(--fontColor);
    font-family: helvetica;
  }
  body {
      background: var(--bg);
  }
ul{
    font-family: helvetica;
}
li {
  list-style: circle;
}

/****************Navigation Bar****************/
.nav-bar-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.nav-bar-list-element{
  display: inline;
  float: left;
}

.nav-bar-list-element-link{
  display: block;
  padding: 14px 16px;
  color: white;
  /*background-color: #dddddd;*/
  width:150px;
  text-align: center;
  text-decoration: none;
}

.nav-bar-list-element-link:hover{
  background-color:#111;
}
/**********************************************/


.list {
  list-style: square;
}



.light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
  }
  .dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
  }
  .btn {
    position: absolute;
    top: 100px;
    left: 400px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
  }
  .btn:focus { outline-style: none; }
  

