:root {
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
    --lightest: #FFF2BD;
    --lighter: #F4D797;
    --light: #EBB58A;
    --dark: #DA7F7D;
    --darker: #B5728E;
    --darkest: #776E99;
  }
* {
  color: var(--fontColor);
  font-family: helvetica;
}
body {
    background: var(--bg);
}
ul{
    font-family: helvetica;
}
li {
  list-style: circle;
}

/****************Navigation Bar****************/
.nav-bar-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--lighter);
}
.nav-bar-list-element{
  display: inline;
  float: left;
}

.nav-bar-list-element-link{
  display: block;
  padding: 14px 16px;
  color: var(--lightest);
  width:150px;
  text-align: center;
  text-decoration: none;
}

.nav-bar-list-element-link:hover{
  background-color:var(--light);
}
/**********************************************/


/*footer*/

footer{
  background-color: var(--darker);
  padding: 10px;
  position: absolute;
  left:0;
  right:0;
  bottom:0;
}

/********/

.list {
  list-style: square;
}

.light-theme {
  --bg: var(--light);
  --fontColor: var(--dark);
  --btnBg: var(--dark);
  --btnFontColor: var(--light);
}

.dark-theme {
  --bg: var(--dark);
  --fontColor: var(--light);
  --btnBg: var(--light);
  --btnFontColor: var(--dark);
}

.btn {
  position: absolute;
  top: 100px;
  left: 400px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}

.btn:focus { outline-style: none; }
  
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-dark{
  background-color: var(--darkest);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
